
var appConfig = {{
    'iddsAPI_request': "{api_host_name}/idds/monitor_request/null/null",
    'iddsAPI_transform': "{api_host_name}/idds/monitor_transform/null/null",
    'iddsAPI_processing': "{api_host_name}/idds/monitor_processing/null/null",
    'iddsAPI_request_detail': "{api_host_name}/idds/monitor/null/null/true/false/false",
    'iddsAPI_transform_detail': "{api_host_name}/idds/monitor/null/null/false/true/false",
    'iddsAPI_processing_detail': "{api_host_name}/idds/monitor/null/null/false/false/true"
}}
