
var appConfig = {{
    'iddsAPI_request': "https://{api_host_name}:443/idds/monitor_request/null/null",
    'iddsAPI_transform': "https://{api_host_name}:443/idds/monitor_transform/null/null",
    'iddsAPI_processing': "https://{api_host_name}:443/idds/monitor_processing/null/null",
    'iddsAPI_request_detail': "https://{api_host_name}:443/idds/monitor/null/null/true/false/false",
    'iddsAPI_transform_detail': "https://{api_host_name}:443/idds/monitor/null/null/false/true/false",
    'iddsAPI_processing_detail': "https://{api_host_name}:443/idds/monitor/null/null/false/false/true"
}}
