stomp.py                         # Messaging broker client
unittest2                        # unit test tool
pep8                             # checks for PEP8 code style compliance
flake8                           # Wrapper around PyFlakes&pep8
pytest                           # python testing tool
nose                             # nose test tools
sphinx                           # sphinx documentation
recommonmark                     # use Markdown with Sphinx
sphinx-rtd-theme                 # sphinx readthedoc theme
docutils<0.18
